include ../mixin/_load_assests.pug

doctype html
html 
head 
	title pug page,
	meta(name='viewport' content='width=device-width,initial-scale=1')
body 
	include ../_parts/_header.pug
	.main-content 
		block main

	include ../_parts/footer.pug